<div class="container">
  <h3>{{#link-to 'event' event class="event-title-link"}}{{event.eventTitle}}{{/link-to}}</h3>
  <p>{{#link-to 'edit' event class="btn btn-edit btn-s glyphicon-pencil"}} Edit{{/link-to}}
  <button class="btn btn-delete btn-s" {{action 'deleteEvent'}}>Delete</button>
</p>
</div>

{{outlet}}
