<div class="container">
  <h2>Your Events</h2>

  {{#link-to 'new' class="btn btn-xs"}}Create Event{{/link-to}}
  <div class="event-index-wrapper">
  {{#each model as |event|}}
  {{event-index event=event deleteEvent='deleteEvent'}}
  {{/each}}
</div>
  <br>
  <br>
  {{#link-to 'application'}}Back{{/link-to}}
</div>
