<div class="container">
  <h3> IT WORKS!</h3>
  <h3> {{model.eventTitle}} </h3>
      <li> {{model.eventType}} </li>
      <li> {{model.eventDate}} </li>
      <br>
  {{#link-to 'events'}}Back{{/link-to}}
</div>
