<div class="container jumbotron">

  <h3> {{model.eventTitle}} </h3>
      <ul> Event Type: {{model.eventType}} </ul>
      <ul> Event Date: {{model.eventDate}} </ul>
      <br>
  {{#link-to 'events'class="btn btn-m back-btn" }}Back{{/link-to}}
</div>
{{outlet}}
