<div class="container">
  <h2>Events List</h2>
  <h3> IT WORKS!</h3>
  {{#link-to 'new' class="btn btn-xs"}}Create Event{{/link-to}}

  {{#each model as |event|}}
  <h3>{{#link-to 'event' event}}{{event.eventTitle}}{{/link-to}}</h3>
  <button class="btn btn-primary btn-xs" {{action 'edit'}}>Edit</button>
  <button class="btn btn-danger btn-xs" {{action 'delete'}}>Delete</button>
  {{/each}}
  <br>
  <br>
  {{#link-to 'index'}}Back{{/link-to}}
</div>

{{outlet}}
