<div class="jumbotron jumbotron-fluid">

  <h3 class="event-title"> {{model.eventTitle}} </h3>
      <ul> Event Type: {{model.eventType}} </ul>
      <ul> Event Date: {{model.eventDate}} </ul>
      <br>
  {{#link-to 'events'class="btn btn-m back-btn" }}Back{{/link-to}}
</div>
{{outlet}}
